Flask
google-generativeai
absl-py
altair
argon2-cffi
attrs
beautifulsoup4
boto3
botocore
cachetools
celery
certifi
click
colorama
cryptography
cvzone
decorator
filelock
google-api-core
google-auth
google-auth-httplib2
google-cloud-storage
grpcio
h11
matplotlib
numpy
opencv-contrib-python
opencv-python
pandas
pillow
protobuf
py-cpuinfo
pyarrow
pydantic
pyperclip
pyzmq
requests
scikit-learn
scipy
seaborn
tensorflow
torch
torchaudio
torchvision
tqdm
ultralytics
werkzeug
wheel
yolov5
